:root {
  /* Martins */
  --color-primary-100: 213, 93%, 89%;
  --color-primary-400: 204, 70%, 45%;
  --color-primary-600: 204, 89%, 26%;
  --color-primary-800: 210, 67%, 13%;
  --color-primary-900: 210, 100%, 7%;

  /* Tester samme hue*/
  /*  --color-primary-100: 208, 93%, 89%;
  --color-primary-400: 208, 70%, 45%;
  --color-primary-600: 208, 89%, 26%;
  --color-primary-900: 208, 100%, 7%; */

  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-900: 210, 100%, 1%;

  /* Sizes */
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-ml: 36px;
  --size-l: 48px;
  --size-xl: 96px;

  /* Borders */
  --border-radius-s: 1px;
  --border-radius-m: 3px;
  --border-radius-l: 6px;
  --border-radius-xl: 8px;
  --border-radius-xxl: 999px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: hsl(var(--color-primary-600));
  color: hsl(var(--color-neutral-900));
  line-height: 1.5;
}

html,
body {
  overscroll-behavior: none;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--size-l);
  margin-bottom: var(--size-l);
  gap: var(--size-m);
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  width: min-content;
  max-width: 10ch;
  color: hsl(var(--color-neutral-100));
}

main {
  width: min(100%, 640px);
  margin: auto;
  padding: 0 var(--size-m);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: var(--size-xs);
  margin-bottom: var(--size-m);
}

h3 {
  text-align: center;
}

a {
  color: hsl(var(--color-primary-700));
}

section {
  background-color: hsl(var(--color-neutral-100));
  color: hsl(var(--color-neutral-900));
  border-radius: var(--border-radius-xl);
  padding: var(--size-m);
  margin-bottom: var(--size-m);
}

section:first-child {
  & > * + * {
    margin-top: var(--size-m);
  }

  a {
    display: flex;
    gap: var(--size-s);
    align-items: center;
  }
}

section:nth-child(2) {
  text-align: center;

  &:not(h2) {
    font-size: 1.1875rem;
  }

  ol, ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    font-weight: 600;
    --border: 1px solid hsl(var(--color-primary-100));
  }

  li {
    list-style: none;
    padding-top: var(--size-m);
    padding-bottom: var(--size-m);

    &:nth-child(7) {
      grid-column: span 2;
    }

    &:nth-child(2n + 1):not(:last-child) {
      border-right: var(--border);
    }

    &:not(:last-child) {
      border-bottom: var(--border);
    }
  }

  a {
    display: block;
    margin-top: var(--size-m);
    margin-bottom: var(--size-xs);
  }
}

section:nth-child(3) {
  & > p {
    text-align: center;
  }
}

footer {
  color: hsl(var(--color-neutral-100));
  background: hsl(var(--color-primary-900));
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;

  a {
    color: hsl(var(--color-neutral-100));
  }

  p {
    margin-bottom: var(--size-m);
  }

  ol, ul {
    padding: 0;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 72px);
    grid-auto-rows: 72px;
    justify-content: center;

    li {
      list-style-type: none;

      &:not(:has(a)) {
        display: block;
        border-radius: 8px;
        border: 1px dashed hsl(var(--color-neutral-100));
        background: hsl(var(--color-primary-800));
      }

      &:last-child {
        background: hsl(var(--color-primary-800));
        border-radius: 8px;
        display: flex;
        align-items: center;
        grid-column: span 3;
        padding: var(--size-xs);

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: var(--size-xs);

          span {
            max-width: 60%;
          }
        }
      }

      a[href="/baerekraft"] {
        text-decoration: none;
        font-size: 2.5rem;
        display: grid;
        place-items: center;
        height: 100%;
        background: linear-gradient(
          180deg,
          #f9ffb8 0%,
          #ecf48e 61.5%,
          #fa8734 100%
        );
        border-radius: 16px;
      }
    }
  }
}
