:root {
  font-size: 16px;

  --color-neutral-000: white;
  --color-neutral-400: grey;
  --color-neutral-900: black;

  --color-primary-100: hsla(213, 93%, 89%, 1);
  --color-primary-400: hsla(204, 70%, 45%, 1);
  --color-primary-700: hsla(204, 89%, 26%, 1);

  /* --color-accent-100: TBD;
		--color-accent-400: TBD;
		--color-accent-700: white; */

  --font-family: "Inter", sans-serif; /*'Inter var', sans-serif */

  /* Sizes */
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-ml: 36px;
  --size-l: 48px;
  --size-xl: 96px;

  /* Borders */
  --border-radius-s: 1px;
  --border-radius-m: 3px;
  --border-radius-l: 6px;
  --border-radius-xl: 8px;
  --border-radius-xxl: 999px;
}

/* CSS resets */
*,
:before,
:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--font-family);
  background: var(--color-primary-700);
  color: var(--color-neutral-000);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

main {
  margin-right: var(--size-m);
  margin-left: var(--size-m);
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: var(--size-xs);
  margin-bottom: var(--size-m);
}

a {
  color: var(--color-primary-700);
}

section {
  background-color: var(--color-neutral-000);
  color: var(--color-neutral-900);
  border-radius: var(--border-radius-xl);
  padding: var(--size-m);
  margin-bottom: var(--size-m);
}

/* 2nd section */
section:nth-child(2) {
  text-align: center;
}
section:nth-child(2):not(h2) {
  font-size: 1.1875rem; // 18px
}

section:nth-child(2) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  font-weight: 600;
}

section:nth-child(2) ul li {
  list-style: none;
  padding-top: var(--size-m);
  padding-bottom: var(--size-m);
}

section:nth-child(2) ul li:nth-child(7) {
  grid-column: span 2;
}
