:root {
  --color-primary-100: #c9e0fd;
  --color-primary-400: #2283c3;
  --color-primary-600: var(--nrk-color-core-blue-600);
  --color-primary-800: var(--nrk-color-core-blue-800);
  --color-primary-900: var(--nrk-color-core-blue-900);

  --color-neutral-100: #ffffff;
  --color-neutral-400: var(--nrk-color-gray-400);
  --color-neutral-500: var(--nrk-color-gray-500);
  --color-neutral-600: var(--nrk-color-gray-600);
  --color-neutral-700: var(--nrk-color-gray-700);
  --color-neutral-800: var(--nrk-color-gray-800);
  --color-neutral-900: var(--nrk-color-gray-900);

  --color-accent-yellow-400: #c2bd1e;

  --color-accent-blue-300: #75eaf0;
  --color-accent-blue-500: #0000ff;

  /* Sizes */
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-ml: 36px;
  --size-l: 48px;
  --size-xl: 96px;

  /* TV props */

  --tv-margin-y: calc((100vh - var(--tv-height)) / 2);
  --tv-margin-x: calc((100vw - var(--tv-width)) / 2);
  --tv-frame-border-top: calc(0.1 * var(--tv-width));
  --tv-frame-border-right: calc(0.25 * var(--tv-width));
  --tv-frame-border-bottom: calc(0.11 * var(--tv-width));
  --tv-frame-border-left: calc(0.071 * var(--tv-width));
  --tv-frame-outline: calc(0.02 * var(--tv-width));
  --tv-screen-outline: calc(0.052 * var(--tv-width));
  --tv-width: min(max(85vw, 90vh), 1000px);
  --tv-aspect-ratio: 1.68;
  --tv-height: calc(var(--tv-width) / var(--tv-aspect-ratio));
  --tv-screen-height: calc(
    100vh - (var(--tv-margin-y) * 2) - var(--tv-frame-border-top) -
      var(--tv-frame-border-bottom)
  );
  --tv-screen-width: calc(
    100vw - (var(--tv-margin-x) * 2) - var(--tv-frame-border-right) -
      var(--tv-frame-border-left)
  );

  --tv-buttons-frame-width: calc(
    (var(--tv-frame-border-right) * 0.8) - var(--tv-screen-outline)
  );
  --tv-buttons-img-size: calc(var(--tv-width) * 0.08);

  /* Borders */
  --border-radius-s: 1px;
  --border-radius-m: 3px;
  --border-radius-l: 6px;
  --border-radius-xl: 8px;
  --border-radius-xxl: 999px;

  font-size: 16px;
  background: black;
  line-height: 1.5;
}

html {
  /* font-family: "NRK Sans Variable", sans-serif; */
  font-family: "Alumni Sans", sans-serif;
}

html,
body {
  overscroll-behavior: none;
}

header {
  pointer-events: none;
  display: flex;
  margin: var(--tv-margin-y) var(--tv-margin-x);
  width: var(--tv-width);
  align-content: center;
  justify-items: center;
  border-top-width: var(--tv-frame-border-top);
  border-right-width: var(--tv-frame-border-right);
  border-bottom-width: var(--tv-frame-border-bottom);
  border-left-width: var(--tv-frame-border-left);
  border-color: var(--color-neutral-400);
  border-style: solid;
  outline: var(--tv-frame-outline) solid #061c45;
  position: fixed;
  inset: 0;
  box-shadow: 0 0 0 max(100vh, 100vw) var(--color-primary-800);

  svg {
    position: absolute;
    right: calc(
      (
          var(--tv-frame-border-right) + var(--tv-buttons-img-size) +
            var(--tv-screen-outline)
        ) / -2
    );
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: var(--tv-buttons-img-size);
    background: var(--color-primary-800);
    padding: var(--size-xs);
    top: calc(-0.8 * var(--tv-screen-outline));
  }

  h1 {
    color: transparent;
    position: absolute;
    height: calc(var(--tv-height) / 2);
    width: var(--tv-buttons-frame-width);
    right: calc(
      -1 * ((var(--tv-frame-border-right) + var(--tv-screen-outline)) / 2 +
            (var(--tv-buttons-frame-width) - var(--tv-buttons-img-size)) * 2)
    );
    right: calc((-1 * var(--tv-frame-border-right)));
    /* right: calc(-1 * ((var(--tv-frame-border-right) + var(--tv-screen-outline)) / 2 + 50px)); */
    right: calc(
      (
          var(--tv-frame-border-right) + var(--tv-buttons-frame-width) +
            var(--tv-screen-outline)
        ) / -2
    );

    top: calc(-1.6 * var(--tv-screen-outline));
    background: var(--color-primary-900);
    z-index: -1;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: calc(var(--tv-buttons-frame-width) * 0.7);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: var(--color-neutral-800);
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      border: 1px solid var(--color-primary-100);
    }

    /* Another circle as the ::after element */
    /* &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: calc(var(--tv-buttons-frame-width) * 0.4);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background: var(--color-primary-900);
      left: 50%;
      top: 110%;
      border: 1px solid var(--color-primary-100);
    } */

    /* Or rather another panel as the ::after element*/
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: var(--tv-buttons-frame-width);
      height: calc(var(--tv-height) / 3.5);
      background: var(--color-primary-900);
      top: 120%;
      background-color: var(--color-neutral-600);
      border: 1px solid var(--color-primary-100);
    }
  }
}

main {
  overscroll-behavior: contain;
  margin-left: calc(
    var(--tv-frame-border-left) + calc((100vw - var(--tv-width)) / 2)
  );
  margin-top: calc(var(--tv-frame-border-top) + var(--tv-margin-y));
  margin-right: calc(
    var(--tv-frame-border-right) + calc((100vw - var(--tv-width)) / 2)
  );
  padding: var(--size-l);
  padding-top: 0;
  padding-bottom: calc(
    100vh - var(--tv-height) + var(--tv-frame-border-bottom) +
      var(--tv-frame-outline)
  );
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 2.4px;
  font-size: var(--size-m);
  font-weight: 500;
  color: var(--color-neutral-100);
}

main::before {
  content: "";
  display: block;
  width: 100%;
  height: var(--tv-screen-height);
  background-image: url("data:image/svg+xml,%3Csvg width='187' height='170' viewBox='0 0 187 170' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.847656' y='30.5383' width='52.8951' height='109.692' fill='%23B19182'/%3E%3Crect x='133.953' y='30.5383' width='52.8951' height='109.692' fill='%23B19182'/%3E%3Cpath d='M55.9106 30.5383H108.806L132.435 140.231H80.1903L55.9106 30.5383Z' fill='%23B19182'/%3E%3Cpath d='M94.498 4.30756V166.245C22.526 144.566 -4.13837 45.7132 94.498 4.30756Z' stroke='%238BB5EB' stroke-width='4'/%3E%3Cpath d='M166.47 133.294C117.172 106.639 72.6421 105.551 23.1763 132.643M167.337 37.0418C113.358 67.6083 66.3162 63.4894 21.4421 37.0418M94.498 4.30756C135.113 67.067 135.727 102.517 94.498 166.245C52.5315 103.491 52.7521 68.0276 94.498 4.30756Z' stroke='%238BB5EB' stroke-width='4'/%3E%3Cpath d='M181.162 87.0683C179.879 112.173 169.577 130.369 153.898 142.838C138.18 155.34 116.917 162.188 93.5937 164.24C70.0056 163.044 49.1545 156.153 33.8011 143.433C18.4717 130.733 8.46333 112.094 6.74978 87.0511C6.76714 62.1912 16.3475 41.9576 32.0488 27.8602C47.7867 13.7299 69.787 5.6686 94.7327 5.4452C95.0696 5.44218 95.407 5.44059 95.7449 5.44044C119.529 6.73055 140.887 14.7084 156.273 28.527C171.626 42.3169 181.15 62.0226 181.162 87.0683Z' stroke='%238BB5EB' stroke-width='4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

main::after {
  pointer-events: none;
  content: "";
  display: block;
  width: var(--tv-screen-width);
  height: var(--tv-screen-height);
  outline: var(--tv-screen-outline) solid var(--color-primary-900);
  position: fixed;
  top: calc(var(--tv-margin-y) + var(--tv-frame-border-top));
  left: calc(var(--tv-margin-x) + var(--tv-frame-border-left));
  border-top-left-radius: 10% 5%;
  border-top-right-radius: 10% 5%;
  border-bottom-right-radius: 10% 5%;
  border-bottom-left-radius: 10% 5%;
}

section {
  margin-bottom: var(--size-m);

  a {
    display: flex;
    gap: var(--size-s);
    align-items: center;
    color: var(--color-accent-yellow-400);
    margin-bottom: var(--size-s);
    font-weight: 600;
    line-height: 155%;
  }

  h2 {
    background-color: var(--color-accent-blue-500);
    padding-left: var(--size-ml);
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: var(--size-s);
  }

  ul {
    text-transform: uppercase;
    list-style: none;
    color: var(--color-accent-blue-300);
    line-height: 1.3;
    counter-reset: member;
    margin-bottom: var(--size-m);

    li {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      flex-shrink: 0;

      &::before {
        content: "................................................................................................";
        overflow: hidden;
        order: 1;
        letter-spacing: 5px;
        margin-left: var(--size-xs);
      }

      &::after {
        padding-left: 5px;
        counter-increment: member;
        content: "00" counter(member);
        order: 2;
        background-color: inherit;
      }
    }
  }

  h3 {
    color: var(--color-accent-blue-300);
    margin: var(--size-m) 0;
  }

  ol {
    li {
      list-style: none;
    }

    ul {
      li {
        display: flex;
        justify-content: flex-start;
        white-space: wrap;
        text-transform: none;
        color: var(--color-neutral-100);

        strong {
          font-weight: 500;
          color: var(--color-accent-yellow-400);
        }

        &::before,
        &::after {
          content: none;
        }
      }
    }
  }
}

p {
  margin-bottom: var(--size-s);
}

footer {
  background-color: var(--color-primary-900);
  position: relative;
  bottom: 0;
  display: grid;
  gap: var(--size-m);
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content 1fr;
  color: var(--color-neutral-100);
  font-size: 1.5rem;
  line-height: 130%;
  padding-left: var(--tv-margin-x);
  padding-right: var(--tv-margin-x);
  padding-top: var(--size-m);

  --controller-border-right-width: 3vw;
  --controller-border-top-width: 2vw;

  a {
    color: var(--color-accent-yellow-400);
  }

  h2,
  p {
    grid-column: 1;
  }

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: var(--color-accent-blue-500);
    margin-bottom: var(--size-m);
    padding-left: var(--size-ml);
    line-height: 1.3;
  }

  ul {
    z-index: 1;
    padding-top: 100px;
    padding-left: var(--size-s);
    padding-right: var(--size-l);
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 72px);
    grid-column: 2;
    grid-row: 1 / 3;

    grid-auto-rows: 72px;
    justify-content: center;

    background-color: hsl(35, 10%, 37%);
    border-color: hsl(35, 32%, 57%);
    border-style: solid;
    border-top-width: var(--controller-border-top-width);
    border-right-width: var(--controller-border-right-width);
    border-left-width: 1vw;
    border-radius: 5% 5% 0 0;

    &::after {
      position: absolute;
      content: "";
      top: calc(2 * var(--controller-border-top-width) + var(--size-m));
      right: calc(
        1.3 * var(--controller-border-right-width) + var(--tv-margin-x)
      );
      width: 3vw;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background: radial-gradient(
        55.39% 55.39% at 50% 53.33%,
        #9a1616 0%,
        #9a1616 86.5%,
        #de5b5b 100%
      );
      box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    }

    li {
      list-style-type: none;

      a {
        border-radius: 50%;

        img {
          border-radius: 50%;
        }
      }

      &:not(:has(a)) {
        border-radius: 50%;
        display: block;
        border: 1px dashed var(--color-accent-blue-300);
        background: var(--color-neutral-700);
      }

      &:last-child {
        position: absolute;
        bottom: var(--size-m);
        left: var(--tv-margin-x);
        background: var(--color-neutral-900);
        padding: var(--size-s);
        border-radius: 8px;
        display: flex;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: var(--size-xs);
        }
      }
    }
  }
}
