---
import OffentligFrontendLogo from "./OffentligFrontendLogo.astro"
---
<header>
    <div>
        <OffentligFrontendLogo />
    </div>
  <h1>Offentlig frontend</h1>
</header>
<main>
  <section>
    <p>
      Vi er et nettverk for alle som jobber med frontend i offentlig sektor. Vi
      deler erfaringer og møtes på tvers av offentlige aktører.
    </p>
    <p>
      Nettverket ble startet som et initiativ fra NAV, NRK, Politiet, Husbanken
      og Oslo Origo i 2024.
    </p>
    <a
      href="https://join.slack.com/t/offentlig-frontend/shared_invite/zt-2dm99ml4i-rJdTFVfjgAmfAMU1ta52Ag"
      ><img src="/slack.svg" alt="Slack-logo" />Bli med i vår Slack-kanal og
      introduser deg selv!</a
    >
    <p>
      På Slack vil du også kunne følge med når nye arrangementer blir annonsert.
    </p>
  </section>
  <section>
    <h2>Deltagere</h2>

    <ul>
      <li>Nav</li>
      <li>NRK</li>
      <li>Politiet</li>
      <li>Husbanken</li>
      <li>Oslo Origo</li>
      <li>Sikt</li>
      <li>Norsk helsenett</li>
    </ul>

    <a href="/påmelding">Vil du være med?</a>
  </section>
  <section>
    <h2>Arrangementer</h2>
    <p>Ingen arrangementer planlagt for øyeblikket</p>

    <h3>Tidligere arrangementer</h3>
    <ul>
      <li>
        <h4>Fagdag for frontend i det offentlige</h4>
        <p>10. september 2024</p>
        <p>Program:</p>
        <ul>
          <li>Christian Johansen: Datadrevet frontendutvikling</li>
          <li>Eivind Riise: Utilgjengelige opplevelser</li>
          <li>Jan Schjetne: CSS Container Queries</li>
          <li>Aurora Scharff: React Server Components</li>
          <li>Vilde Jølstad Paschen: Spesialartikler i NRK</li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>
        <h4>Minifagdag for frontend i det offentlige</h4>
        <p>23. april 2024</p>
        <p>Program:</p>
        <ul>
          <li>
            Christian Peter, Ingvild Forseth og Cristobal Dabed: Hvordan NRK TV
            bruker Web Components for å få en rask brukeropplevelse
          </li>
          <li>
            Sarah Brodwall og Carl Hedgren: NAVs a11y-rapporteringsløsning: htmx
            + uu = sant
          </li>
        </ul>
      </li>
    </ul>
  </section>
</main>
<footer>
  <h2>Prøv en ny drakt</h2>
  <p>
    Denne nettsiden har flere fine stiler. Inspirert av <a
      href="csszengarden.com">csszengarden.com</a
    > og <a href="localghost.dev">localghost.dev</a>.
  </p>
  <ul>
    <li><a href="/"><img src="/of.svg" alt="offentlig-frontend-logo" /></a></li>
    <li><a href="/nrk"><img src="/nrk.svg" alt="nrk-logo" /></a></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li>
      <a href="github.com/offentlig-frontend">
        <img src="/github.svg" alt="Github-logo" />
        <span>
          Last opp ditt eget bidrag på Github!
          </span>
        </a
      >
    </li>
  </ul>
</footer>
