<footer>
  <h2>Prøv en ny drakt</h2>
  <p>
    Denne nettsiden har flere fine stiler.<br/> Inspirert av <a
      href="csszengarden.com">csszengarden.com</a
    > og <a href="localghost.dev">localghost.dev</a>.
  </p>
  <ul>
    <li><a href="/"><img src="/of.svg" alt="offentlig-frontend-logo" /></a></li>
    <li><a href="/nrk"><img src="/nrk.svg" alt="nrk-logo" /></a></li>
    <li><a href="/nrk"><img src="/nrk.svg" alt="nrk-logo" /></a></li>
    <li></li>
    <li></li>
    <li>
      <a href="github.com/offentlig-frontend">
        <img src="/github.svg" alt="Github-logo" />
        <span> Last opp ditt eget bidrag på Github! </span>
      </a>
    </li>
  </ul>
</footer>